<div class="container" style="margin-bottom: 25px;">
  <div class="row">
    <div class="col col-12">
      <div class="container__inner section">
        <div class="section-top">
          <h5 class="section-title">Connect with Me on Social Media</h5>
        </div>
        <div class="container__inner-box">
          <div class="row">
            <!-- Instagram -->
            <div class="col col-3" style="display: flex; align-items: center;">
              <a href="https://www.instagram.com/theericotten/" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
                <img src="/images/Instagram-Logo.svg" alt="Instagram Logo" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 10px;">
                <div>
                  <div style="font-size: 16px; font-weight: bold;">173,950</div>
                  <div style="font-size: 14px; text-transform: uppercase;">Followers</div>
                </div>
              </a>
            </div>
            <!-- YouTube -->
            <div class="col col-3" style="display: flex; align-items: center;">
              <a href="https://www.youtube.com/@TheEricOtten" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
                <img src="/images/YouTube-Logo.webp" alt="YouTube Logo" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 10px;">
                <div>
                  <div style="font-size: 16px; font-weight: bold;">37,978</div>
                  <div style="font-size: 14px; text-transform: uppercase;">Views</div>
                </div>
              </a>
            </div>
            <!-- LinkedIn -->
            <div class="col col-3" style="display: flex; align-items: center;">
              <a href="https://www.linkedin.com/in/theericotten/" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
                <img src="/images/LinkedIn-Logo.svg" alt="LinkedIn Logo" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 10px;">
                <div>
                  <div style="font-size: 16px; font-weight: bold;">11,516</div>
                  <div style="font-size: 14px; text-transform: uppercase;">Impressions</div>
                </div>
              </a>
            </div>
            <!-- Telegram -->
            <div class="col col-3" style="display: flex; align-items: center;">
              <a href="https://t.me/+eSlPl1lnASExYzdi" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
                <img src="/images/Telegram-Logo.png" alt="Telegram Logo" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 10px;">
                <div>
                  <div style="font-size: 16px; font-weight: bold;">11,590</div>
                  <div style="font-size: 14px; text-transform: uppercase;">Subscribers</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>